<br>
<div class="container">
  <h1 class="text-center text-white">Eat-Da-Burger!</h1>
  <div class="row justify-content-center">
    <img class="johnPic img-responsive" src="./assets/img/burger.png"></image>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <form class="text-center" id="create-form">
      <h2 class="text-center">May I take your order?</h2>
      <h6 class="text-center">Enter the name of burger you would like to eat</h6>
      <div class="form-group">
        <input type="text" id="bu" name="name">
      </div>
      <button type="submit">Add Burger</button>
    </form>
  </div>
  <br>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="card bg-transparent border-white">
        <div class="card-title text-center">
          <h2 class="text-white">Good Eating!</h2>
        </div>
        <div class="card-body">
          <!-- if all burgers devoured, then none left in left column - display 'all gone' -->
          {{#if eaten}}
          <h4 class="text-white">All gone!</h4>
          {{/if}}
          <!-- if burgers available, then loop and fill in information for list -->
          <ul class="no-bullets">
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block}}
            {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="card cardBorder bg-transparent">
        <div class="card-title text-center" style="display: hidden">
          <h2 class="text-white" style="visibility: hidden">Good Eating!</h2>
        </div>
        <div class="card-body">
          <!-- if burgers availabe, then loop and display the Eat Me icons for each availabe burger -->
          <ul class="no-bullets">
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-buttonblock devoured=true}}
            {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="card bg-transparent border-white">
        <div class="card-title text-center">
          <h2 class="text-white">Already Devoured!</h2>
        </div>
        <div class="card-body">
          <!-- if no burgers available, then loop and fill in information for devoured list -->
          <ul class="no-bullets">
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>