<div>
	<!-- handlebar template - check if burger is available, then display the Eat Me button -->
	{{#if devoured}}
	<img class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}"
		src="./assets/img/eat-this-burger.png" style="height: 40px; width: 60px;"
		alt="Eat This Burger PNG icon" />
	{{/if}}
</div>