<div>
	{{#if devoured}}
	<img class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}"
		src="https://www.iconspng.com/uploads/eat-this-burger/eat-this-burger.png" style="height: 40px; width: 60px;"
		alt="Eat This Burger PNG icon" />
	{{/if}}
</div>